<% provide(:title, "About") %>
<div class="container">
    <h1 class="center">About</h1>
    <div class="about">
        <h2>Application description</h2>
        <p>With this application, you can share your skills to other users and get endorsements form others.</p>
        <p>You can also recommend a skill to others or endorse their skills.</p>
        <p>Basicly, this app immitates the skill-section of the <a href='https://www.wantedly.com/'>Wantedly</a> profiles.</p>
        <%# <p>Checkout <a href="https://gist.github.com/luvtechno/1680e142589f8a6017d1ebbcdb4cd325">this page</a> for further details!</p> %>
        <h2>How to use</h2>
        <p>Just enter your name, an arbitary email address (there is no email confirmation, so you can use a fake email) and a password (6 characters min) and you can start!</p>
        <p>If you are logged in you can:</p>
        <ul>
            <li>Add skills to your skill-set in the "Profile" page.</li>
            <li>Change your name, email, password and profile picture in the "Settings" page.</li>
            <li>List all the other users in the "Users" page.</li>
            <li>Recommend and endorse skills in their profile pages.</li>

        </ul>
        <h2>Used technology</h2>
        <p>This app is fully developed with Ruby on Rails 5.2.3</p>
        <p>Also used for development:</p>
        <ul>
            <li>Database: PostgreSQL</li>
            <li>Version Control: Git, GitHub (link to source code below)</li>
            <li>Styling: Bootstrap 4</li>
            <li>Deployment: Heroku</li>
        </ul>
        <h2>Links</h2>
        <ul>
        <li><a href="#">Source Code: Coming Soon</a></li>
        <li><a href="https://www.romanshirasaki.com/">My portfolio</a></li>
        <li><a href="https://www.wantedly.com/users/103573801">Wantedly</a></li>
        <li><a href="https://www.linkedin.com/in/romanshirasaki">LinkedIn</a></li>
        </ul>
    </div>
</div>
