<div class="container vertical-center">
    <div class="center jumbotron">
        <h1 id="welcome">Share your skills with Skill Checker</h1>
        <h3>Skill recommendation and endorsement application. Quick sign up and easy to use.</h3>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>
