<% provide(:title, "Sign up") %>
<% provide(:button_text, "Create your account") %>
<% provide(:path, signup_path) %>

<div class="container vertical-center">
    
    <div class="col-md-6">
        <div class="form">
        
            <h1 class="d-flex justify-content-center">Sign up</h1>
            <%= render "form" %>
        </div>
    </div>
    

</div>
