<% provide(:title, @user.name) %>
<div class="container" id="showuser">
    <div class="row">
        <aside class="col-md-4">
            <section class="sidebar ">
                
                <%= gravatar_for @user %>
                <h3><%= @user.name %></h3>
                
            </section>
        </aside>
        <div class="col-md-8">
            <section class="skill-section">
                <h3>Skills</h3>
                <% if logged_in %>
                    <%= render partial: 'user_skills/form' %>
                <% end %>
                <div class="skill-list">
                    <% @user_skills.each.with_index do |user_skill, index| %>
                        <% next if user_skill.name.empty? || user_skill.name.length > 50 %>
                        <%#next if @error %>
                        <%= render partial: 'user_skills/user_skill', locals: {user_skill: user_skill, user: @user, i: index} %>
                    <% end %>
                </div>
                <%# will_paginate(@user_skills, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
                
            </section>
        </div>
    </div>
</div>