/* variables and init */
$background-color: white;
$light-grey: rgb(131, 131, 131);
$primary: #00a4bb; //change primary color of bootstrap


@import "bootstrap";

/* universal */

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
  

h1 {
    font-weight: 700;
    padding-top: 0.5em;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.container{
    margin-top: 0.3em;
}



.vertical-center {
    min-height: calc(100vh - 71.6px);
    padding: 1em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible-button {
    // font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
    cursor: pointer;
    
}

/* local elements */
header {
    background-color: $background-color;

    ul {
        a {
            color: $light-grey
        }
    }
}

#logo {
    font-weight: 700;
    font-size: 1.7em;
    text-transform: uppercase;
    color: $primary;
}



.center {
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    // margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $background-color;
    p {
        a {
            color: $primary
        }
    }   

    h1 {
        &#welcome{
            // font-size: 3.5em;
            margin-top: 15vh;
        }
    }
    
    .btn {
        margin-top: 5rem;
    }
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    border: solid 1px $light-grey;
    border-radius: 5px;
    padding: 0.5em;
    @include box_sizing;
}

/* Index User */
.userindex {
    padding-top: 1em;
    .users {
        list-style: none;
        li {
            overflow: auto;
            padding: 1em 0;
            border-bottom: 1px solid #bbb;
        }
    }
    .delete-link {
        float: right;
    }
    
}
/* Show User */
#showuser {
    /* Sidebar */
    .sidebar {
        padding: 1em;
        h3 {
            padding-top: 0.5em;
            font-weight: 600;
        } 
    }
    .skill-input {
        padding-left: 0;
    }
    .skill-section {
        padding: 1em;
        .skill-list{
            padding-left: 0;
            .skill-item {
                margin: 1em 0;
                .delete-link {
                    padding-left: 0.5em;
                    font-size: 16px;
                    color: black;
                }
                p {
                    margin: 0;
                    display: block;
                    &.skill-name{
                        font-size: 18px;
                        padding-left: 1em;
                    }
                    &.endorsement-num {
                        font-size: 20px;
                        color: $primary;
                    }
                    
                }
                .endorser-list {
                    width: 60%;
                    .circle {
                        padding: 0;
                        margin: 0;
                        img {
                            border-radius: 50%;
                        }
                    }
                }
                .skill-endorsement-button {     
                    position: relative;
                    width: 36px;
                    height: 36px;
                    border: solid 2px $primary;
                    border-radius: 50%;
                    text-align: center;
                    &.disabled {
                        background-color: rgb(110, 109, 109);
                        border: none;
                        .endorsement-num {
                            color: white;
                        }

                    }
                    .plus{
                        text-align: center;
                        position: absolute;
                        background-color: $primary;
                        font-size: 15px;
                        color: white;
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        top: 20px;
                        left: 20px;
                        padding: 0;
                        margin: 0;
                        span {
                            position: relative;
                            height: 15px;
                            top: -5px;
                            // left: -1px;
                        }
                    }
                }

                &.float-left {
                    margin-bottom: 0%;
                    padding-right: 1em;
                    p {
                        &.skill-name{
                            font-size: 18px;
                            padding-left: 0.5em;
                        }
                        &.endorsement-num {
                            font-size: 18px;
                        }
                        
                    }
                    .skill-endorsement-button {     
                        width: 33px;
                        height: 33px;
                    }
                }
            }
        }
    }

}
/* Edit User */

.gravatar-edit {
    margin: 1em 0;
}



/* Forms */

.form {
    h3 {
        margin-top: 2em;
    }
    /* Error Messages */
    #error-messages {
        margin-top: 1em;
        .alert {
            color: red;
        }
        
        li {
            color: red;
        }
    }

    .field_with_errors {
        // @extend .has-warning;
        .form-control {
            border-color: $danger;
        }
    }
    
    .textfield, textarea, input {
        width: 100%;
        margin-bottom: 15px;
        @include box_sizing;
    }
    
    .textfield {
        border: 1px solid #bbb;
        border-radius: 4px;
        height: auto !important;

        &:focus{
            outline: none;
            border-color: $primary;
            box-shadow: 0 0 10px lighten($primary, 20%);
        }
    }
    
}


/* footer */
footer {
    hr {
        margin: 0.3em 0;
    }
    padding-bottom: 0.5em;
    ul {
        margin: 0;
    }
    
    a {
        padding: 0 0.5em;
    }


    #railslogo {
        width: 6rem;
        display: inline-block;
    }
}



  