/* variables and init */
$background-color: white;
$light-grey: rgb(131, 131, 131);
$primary: #00a4bb; //change primary color of bootstrap


@import "bootstrap";

/* universal */

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
  

h1 {
    font-weight: 700;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.container{
    margin-top: 0.3em;
}

/* local elements */
header {
    background-color: $background-color;

    ul {
        a {
            color: $light-grey
        }
    }
}

#logo {
    font-weight: 700;
    font-size: 1.7em;
    text-transform: uppercase;
    color: $primary;
}



.center {
    text-align: center;
    padding-bottom: 20vh;
    // margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $background-color;
    p {
        a {
            color: $primary
        }
    }   

    h1 {
        &#welcome{
            // font-size: 3.5em;
            margin-top: 15vh;
        }
    }
    
    .btn {
        margin-top: 5rem;
    }
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    border: solid 1px $light-grey;
    border-radius: 5px;
    padding: 0.5em;
    @include box_sizing;
}

/* Show User */
.container{
    &#showuser {
        /* Sidebar */
        .sidebar {
            margin: 1em;
            h3 {
                padding-top: 0.5em;
                font-weight: 600;
            } 
        }
    }
}

/* Forms */

.form {

    /* Error Messages */
    #error-messages {
        margin-top: 1em;
        .alert {
            color: red;
        }
        
        li {
            color: red;
        }
    }
    
    .field_with_errors {
        // @extend .has-warning;
        .form-control {
            border-color: $danger;
        }
    }


    margin-bottom: 10vh;
    h1 {
        margin-top: 10vh;
    }
    .textfield, textarea, input {
        width: 100%;
        margin-bottom: 15px;
        @include box_sizing;
    }
    
    .textfield {
        border: 1px solid #bbb;
        border-radius: 4px;
        height: auto !important;

        &:focus{
            outline: none;
            border-color: $primary;
            box-shadow: 0 0 10px lighten($primary, 20%);
        }
    }
    
}


/* footer */
footer {
    hr {
        margin: 0.3em 0;
    }
    padding-bottom: 0.5em;
    ul {
        margin: 0;
    }
    
    a {
        padding: 0 0.5em;
    }


    #railslogo {
        width: 6rem;
        display: inline-block;
    }
}



  