<header class="header navbar navbar-expand-md navbar-fixed-top navbar-light">
    <div class="container">
    <%= link_to "Skill Checker", root_path, id: "logo", class: "navbar-brand d-flex" %>
    <ul class="nav navbar-nav d-flex justify-content-end" >
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "About", about_path %></li>
        <li class="nav-link"><%= link_to "Log in", "#" %></li>
    </ul>
    </div>
</header>